/Restaurantes_Google
Restaurantes_Google
Restaurantes_Google/

/Restaurantes_Google_Reviews
Restaurantes_Google_Reviews
Restaurantes_Google_Reviews/

/Restaurantes_User_Yelp
Restaurantes_User_Yelp
Restaurantes_User_Yelp/

/Restaurantes_Yelp
Restaurantes_Yelp
Restaurantes_Yelp/

/Restaurantes_Yelp_Tips
Restaurantes_Yelp_Tips
Restaurantes_Yelp_Tips/

/attributes
attributes
attributes/